<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  Username: <%= f.text_field :username %>
  <br>
  Password: <%= f.password_field :password %>
  <br>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <br>
  Last Name: <%= f.text_field :last_name %>
  <br>
  First Name: <%= f.text_field :first_name %>
  <br>
  Email: <%= f.text_field :email %>
  <br>
  Phone Number: <%= f.text_field :phone_number %>
  <br>
  Birth Date: <%= f.date_field :birth_date %>
  <br>
  Description: <%= f.text_area :description %>
  <br>
  <%= f.submit "Submit" %>

<% end %>