<br>
ID: <%= @desired_user.id %>
<br>
Last Name: <%= @desired_user.last_name %>
<br>
First Name: <%= @desired_user.first_name %>
<br>
Email: <%= @desired_user.email %>
<br>
Phone Number: <%= @desired_user.phone_number %>
<br>
<br>
<% @desired_user.sharings.each do |sharing| %>
  <li><%= sharing.title %></li>
  <a href="/sharings/<%= sharing.id %>/reservation"><button>Reserve</button></a>
  <br>
  <br>
<% end %>
