<!DOCTYPE html>
<html>
<head>
  <title>Cilo</title>
  <link rel="shortcut icon" href="images/05.jpeg">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<header>
  <a href="/"><img src="<%=image_path('logo_white.svg')%>" id="nav-logo"></a>

  <% if current_user %>
    <a href="/logout"><button class="action-bar-item">登出</button></a>
    <a href="/dashboard"><button class="action-bar-item">個人頁面</button></a>
    <a href="/browse"><button class="action-bar-item">瀏覽經驗</button></a>
    <a href="/"><button class="action-bar-item">成為專家</button></a>
  <% else %>
    <a href="/login"><button class="action-bar-item">登入</button></a>
    <a href="/signup"><button class="action-bar-item">註冊</button></a>
    <a href="/browse"><button class="action-bar-item">瀏覽經驗</button></a>
    <a href="/"><button class="action-bar-item">成為專家</button></a>
  <% end %>

</header>
<body>

  <%= yield %>

</body>
</html>
