<!DOCTYPE html>
<html>
<head>
  <title>CiloWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <a href="/">Home</a> |

  <% if current_user %>
    Signed in as <%= current_user.first_name %> | <%= link_to "Logout", '/logout' %>
      <%= current_user.id %>
  <a href="/dashboard">Dashboard</a> |

  <% else %>
    <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
  <% end %>


  <%= yield %>

</body>
</html>
